/* app css stylesheet */
.body{
    background-color: #eee;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.button-group li a {
    margin: 0;
}

.user-add{
    margin-bottom:10px;
    padding-left:10px;
}
.user-add a{
    color:darkgray;
}

.row .large-5 input{
    margin-bottom:20px;
    border-radius:5px;
}

.row .large-5 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
.row .large-5 input::-moz-placeholder { /* Firefox 19+ */
 color: grey;
}

.row .large-5 input:-moz-placeholder { /* Firefox 18- */
  color: grey;
}

#form{
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*#form {
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}
#form.active {
    opacity: 1;
    height: auto;
}*/